<!DOCTYPE html>
<html lang="en">
<head>
    <title>Developer Test | POSSIBLE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <link rel="icon" href="~/Content/images/favico.ico">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/Content/css/screen.css">
    <link type="text/css" href="~/Content/css/style.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/scripts/html5shiv.min.js"></script>
    <![endif]-->
    <script src="~/scripts/jquery-1.12.0.min.js"></script>
    <script src="~/scripts/blockUI.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="~/scripts/jquery.dateFormat-1.0.js"></script>
    <script type="text/javascript" src="~/scripts/anchorme.js"></script>
</head>
<body role="document">
    <div class="container body-content">
        @RenderBody()
        <div class="loader"></div>
    </div>
</body>
</html>